.app {
    &.dark {
        --bg: #222;
        --bg-acc: #444;
        --fg: #fff;
        --acc: #6666ba;
    }
    &.light {
        --bg: #bababa;
        --bg-acc: #aaa;
        --fg: #222;
        --acc: #6666ba;
    }

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
    color: var(--fg);
}

.gui, .env {
    position: absolute;
    top: 0;
    left: 0;
}

.env {
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    padding: .7rem 2rem;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

    > a, > a:active {
        text-decoration: none;
        color: var(--acc);
        transition: text-decoration 200ms ease-in-out;
    }
    > a:hover, > a:focus {
        text-decoration: underline;
    }
}