.selectContainer {
    flex-grow: 2;
    display: grid;
    place-items: center;
}

.select {
    background-color: var(--bg-acc);
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 3px 5px rgba(0, 0, 0, 0.5);
    color: var(--fg);
    padding: .2rem .5rem;
    display: inline;
    font-size: .8rem;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover, &:focus {
        border-color: var(--fg);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 3px 5px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.5);
    }
}

@media (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: fit-content;
        width: calc(100% - 1rem);
        padding: 1rem;
    }
}

@media (orientation: landscape) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: fit-content;
        padding: 1rem;
    }
}

.elemContainer {
    flex-grow: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: .8rem;
    line-height: 1.6em;
    font-weight: bolder;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

    > p > span {
        font-weight: normal;
    }
}

.themeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    width: fit-content;
    padding-left: 1rem;

    .themeButton {
        background-color: var(--bg-acc);
        border: 2px solid transparent;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 3px 5px rgba(0, 0, 0, 0.5);
        color: var(--fg);
        padding: .2rem .5rem;
        display: inline;
        font-size: .8rem;
        outline: none;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:hover, &:focus {
            border-color: var(--fg);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 3px 5px rgba(0, 0, 0, 0.5), 0 0 8px rgba(0, 0, 0, 0.5);
        }
    }
}

@media (orientation: landscape) {
    .themeContainer {
        padding: 0;
        flex-grow: 4;
    }
}